<% if notice %>
  <div class="alert alert-success" role="alert"> <%= flash[:notice] %> </div>
<% end %>
<% if flash[:alert] %> 
  <div class="alert alert-danger" role="alert"> <%= flash[:alert] %> </div>
<% end %>

<h1>Players's names.</h1>
<hr>
<%= form_tag('/games', method: :post) do%>
  <%= label_tag :player1, " Player1's name:" %>
  <%= text_field_tag :player1 %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= label_tag :player2, " Player2's name:"%>
  <%= text_field_tag :player2 %>
  <hr>
  <%= submit_tag('Play', :class => "btn btn-sm btn-primary") %>
<% end %>