<% if notice %>
  <div class="alert alert-success" role="alert"> <%= flash[:notice] %> </div>
<% end %>
<% if flash[:alert] %> 
  <div class="alert alert-danger" role="alert"> <%= flash[:alert] %> </div>
<% end %>

<h1>Wellcome! this is the Object Cannon Game.</h1>

<%= form_tag('/games', method: :post) do%>
  <%= label_tag :player1 %>
  <%= text_field_tag :player1 %>
  <br>
  <%= label_tag :player2 %>
  <%= text_field_tag :player2 %>
  <%= submit_tag('Play') %>
<% end %>